@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
/*font-family: 'Titillium Web', sans-serif;*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Titillium Web', sans-serif;
    color: black;
    background-image: url("../imagens/vender.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}
header#cabecalho{
    background-color: brown;
    color: white;
    text-align: center;
}
div#main{
    background-image: url("../imagens/vender.png");
    width: 1000px;
    height: 550px;
    border: solid gray 1px;
    margin: auto;
}
div#menu-bar{
    width: 300px;    
    background-color: rgba(165, 42, 42, 0.500);
    position: absolute;
    top: 0px;
    left: -290px;
    margin-bottom: 50px;
    transition: all 0.5s;
}
div#menu-bar:hover{
 left: 0;
}
div#menu-bar a{
    display: block;
    text-decoration: none;
    font-size: 20px;
    padding: 8px;
    margin-bottom: 2px;
    transition: all 0.5s;
}
div#menu-bar a:hover{
    background-color: rgba(165, 42, 42, 0.500);
    color: white;
    font-weight: bold;
    text-align: right;
}        
/*referente ao nome de usuário no topo da página*/
h5{
    text-align: right;
    padding: 8px;
}
/*referente a div#formulário*/
div#formulario{
    width: 800px;
    margin: auto;
    padding: 15px;
}
div#formulario fieldset{
    text-align: center;
    width: 600px;
    margin: auto;
    padding: 5px;
    border-radius: 10px;
}
div#formulario fieldset legend{
    font-weight: bold;
    font-size: 15px;
}
div#formulario input{
    text-align: center;
    width: 250px;
    height: 30px;
    margin: auto;
    padding: 3px;
    display: block;
    margin-bottom: 5px;
    border-radius: 10px;
}
div#formulario input{
    font-weight: bold;
}
/*Referente a div#form-int*/
div#form-int{
    background-color: rgba(255, 255, 255, 0.400);
    width: 600px;
    height: 150px;
    text-align: center; 
    margin: auto;
    padding: 10px;
}
div#form-int h1{
    text-align: center;
}
/*Referente a div#form-int1 na pagina sobre.php*/
div#form-int1{
    width: 700;
    background-color: rgba(165, 42, 42, 0.8); 
    text-align: center; 
    margin: auto;
    padding: 10px;
    margin-top: 15px;
}
/*Referente a article#arti ma página consulta estoque.php*/
article#arti{
    width: 1000px;
    text-align: left;
    background-color: rgb(165, 42, 42);
    margin: auto;
    margin-top: 3px;
    padding: 6px;
    border-radius: 5px;
}


/*Botão na página consulta_estoque.php linha 50*/
/*input#confirm{
    width: 20px; 
    height: 8px;
}*/
/*referente a div#welcome na página painel.php linha 32*/
div#welcome{
    width: 800px;
    padding: 8px;
    background-color: rgba(165, 42, 42, 0.9);
    margin: auto;
    margin-top: 30px;
}
div#welcome p{
    margin: 15px; 
    text-indent: 15px;
}
h1{
    text-align: center;
}
 a#geral{
    text-decoration: none;
}
table{
    width:100%;
border: black solid 1px;
border-collapse: collapse;

}
table td{
font-size:17px;
font-weight: bold; 
color: white;
border: black solid 1px;
padding:5px; 
background-color: brown;
}
/*referente as janelas de ajuda existente em todas as páginas*/
div#help{
    width: 50px;
    height: 50px;
    background-color: rgba(165, 42, 42, 0.401);
    position: absolute;
    top: 100px;
    left: 950px;
    font-size: 3.9px;
    border: solid rgba(0, 0, 0, 0.746) 1px;
    padding: 2px;
    opacity: 0.2;
    transition:  all 1s;
}
div#help:hover{
    color: blanchedalmond;
    font-weight: bold;
    opacity: 0.8;
    transform: scale(6);
    top: 200px;
    left: 800px;   
    background-color: rgba(165, 42, 42, 0.95);  
    border-radius: 5px;  
}
/*referente ao cabeçalho de index e tela de cadastro */
header#index{
    background-color: brown;
    color: white;
    text-align: center;
}
/*referente aos inputs da tela de cadastro tela-cadastro.php*/
form#especial input{
    text-align: center;
    display: block;
    margin: auto;
    width: 250px;
    height: 20px;margin-bottom: 10px;
    border-radius: 10px;
    background-color: rgba(165, 42, 42, 0.95);
}
form#especial{
    font-size: 20px;
    width: 300px;
    margin: auto;
    text-align: center;
    
}
form#especial fieldset{
    border: none;
}
/*referente a tela de login index.php*/
div#input{
    width: 300px;
    height: 280px;
    border: 1px solid brown;
    margin: auto;
    margin-top: 120px;
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(165, 42, 42, 0.233);
}
div#input input{
    height: 40px;
    margin-bottom: 20px;
    font-size: 25px;
    color: white;
} 
form#especial p#cad{
font-size: 20px;
font-weight: bold;
}
/*rodapé index.php*/
footer{
    background-color: brown;
    bottom: 0px;
    clear: both;
    position: fixed;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
/*formulário na página painel.php*/
form#pri input{
    width: 300px;
   height: 40px;
   display: inline-block;
   border-radius: 10px;
   margin-top: 15px;   
}
/*referente ao formulario da pagina geral.php*/
div#formularioGeral{
    font-weight: bold;   
    width: 700px;
    height: 250px;    
    margin: auto;
    margin-bottom: 5px;
    text-align: center;
}
div#formularioGeral form {
    height: 300px;
    margin-top: 15px;
}
div#form-intGeral{
    width: 680px;
    height: 150px;    
    text-align: center;    
    clear: both;
    position:relative;
    margin: auto;
    
}