@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
/*font-family: 'Titillium Web', sans-serif;*/
*{
    margin: 0;
    padding: 0;
}
/*Variáveis*/
:root{
    --cor-padrao: rgba(165, 165, 165, 0.883);
    --borda-padrao: 0px solid orange;
    --raio-de-borda: 10px;
}
body{
    background-image: url("../imagens/compras1.png");
    font-family: 'Titillium Web', sans-serif;   
}
header#cabecalho{
    background-color: blue;
    color: white;
    padding: 5px;
    border-radius: var(--raio-de-borda);
    margin-bottom: 5px;
}
div#main{
    width: 1000px;
    height: 620px;
    border: var(--borda-padrao);
    border-radius: var(--raio-de-borda);
    margin: auto;
    padding: 15px;
    margin-bottom: 5px;
    text-align: center;
    background-image: url("../imagens/madeira.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
div#menu-bar a{
    display: block;
    text-decoration: none;    
}
div#menu-bar a:hover{
   color: blue;
   text-align: right;
   font-weight: bolder;
    background-color: rgba(0, 0, 255, 0.2);
    border-radius: 8px;
}
div#menu-bar{
    background-image: url("../imagens/me.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 230px;
    height: 350px;
    font-weight: bold;
    background-color: var(--cor-padrao);
    border: var(--borda-padrao);
    float: left;
    border-radius: var(--raio-de-borda);
    padding: 5px;
}
div#formulario{
    background-image: url("../imagens/divform.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 700px;
    height: 250px;
    float: right;
    border: var(--borda-padrao);
    background-color: var(--cor-padrao);
    border-radius: var(--raio-de-borda);
    border-top: 5px;
}
/*referente ao formulario da pagina geral.php*/
div#formularioGeral{
    font-weight: bold;
    color: blue;
    background-image: url("../imagens/grafico.jpg");
    background-size: 100%;
    width: 700px;
    height: 250px;
    border: var(--borda-padrao);
    background-color: var(--cor-padrao);
    border-radius: var(--raio-de-borda);
    margin: auto;
    margin-bottom: 5px;
    text-align: center;
}
div#form-intGeral{
    color: blue;
    background-image: url("../imagens/grafico.jpg");
    width: 680px;
    height: 150px;
    border: var(--borda-padrao);    
    text-align: center;
    border-radius: var(--raio-de-borda);
    background-color: var(--cor-padrao);
    clear: both;
    position:relative;
    margin: auto;
    
}
/*---------------------------------------------*/
fieldset{
    width: 600px;
    height: 200px;
    margin: auto;
    border: none;
    border-radius: var(--raio-de-borda);
    padding: 5px;
}
/*referente ao fieladset da tela-cadastrro*/
fieldset#fdst{
    text-align: center;
    width: 600px;
    height: 500px;
    margin: auto;
    border: var(--borda-padrao);
    border-radius: var(--raio-de-borda);
    padding: 5px;
}
legend{
    margin: auto;
}
div#welcome{
    padding: 20px;
}
div#welcome p{
    padding: 10px;
    margin: 20px;
    margin-left: 230px;
    background-color: blue;
    border-radius: 10px;
    color: white;
}
div#form-int{
    background-image: url("../imagens/divint.jpg");
    background-size: 100%;
    width: 680px;
    height: 150px;
    border: var(--borda-padrao);    
    text-align: center;
    border-radius: var(--raio-de-borda);
    background-color: var(--cor-padrao);
    clear: both;
    position:relative;
    margin-left: 300px;
    bottom: 60px;
    
}
article#arti{
    margin: auto;
    background-color: var(--cor-padrao);
    width: 600px;
    padding: 10px;
    margin-bottom: 2px;
    border-radius:var(--raio-de-borda);
}
input{
    
    display: block;
    margin: auto;
    margin-top: 5px;
    width: 200px;
    height: 20px;
    padding: 3px;
    border-radius: var(--raio-de-borda);
    border: var(--borda-padrao);
    text-align: center;
}
/*referente as janelas de ajuda existente em todas as páginas*/
div#help{
    background-image: url("../imagens/ajuda.png");
    background-size:60px 60px;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    /*background-color: rgba(50, 42, 165, 0.401);*/
    position: absolute;
    top: 100px;
    left: 950px;
    font-size: 3.9px;
    border: solid rgba(0, 0, 0, 0.746) 1px;
    padding: 2px;
    opacity: 0.2;
    transition:  all 1s;
}
div#help:hover{
    color: blue;
    font-weight: bold;
    opacity: 0.9;
    transform: scale(6);
    top: 200px;
    left: 800px;   
    background-color: blue;  
    border-radius: 5px;  
}
/*referente as tabelas em lista-estoque.php e lista-usuario.php*/
table{
    width:100%;
border: black solid 1px;
border-collapse: collapse;

}
table td{
font-size:17px;
font-weight: bold;
color: white;
border: black solid 1px;
padding:5px;
background-color: blue;
}
form#pri input{
    width: 300px;
   height: 40px;
   display: inline-block;
    
} 